@CHARSET "UTF-8";
body{
  font-size:13px;
  font-family:Arial,sans-serif;
}
div, p, span, h3, h4, ol{
  margin:0;
  padding:0;
  border:0;
  list-style: none;
}
h3 {
  padding: 1em 0 0.5em;
}
table,tr,td,th,tbody {
  position:relative;
  margin:0px;
  padding:0px;
  border-collapse:collapse;
}

#main {
  padding-top:10px;
}
.top-div {
  text-align:right;
}
.top-div span {
  color:#AAA;
  font-size:13px;
}
.dropdown-box {
  border: 1px solid #E6DB9D;
  font-size:13px;
}
.tab-head {
  z-index:140;
  position:absolute;
  top:0px;
  padding-left:10px;
}

.tab-active {
  display:inline;
  float:left;
  margin-right:3px;
  background-color:#F6F3D7;
  border-top: 2px solid #E6DB9D;
  border-left: 2px solid #E6DB9D;
  border-right: 2px solid #E6DB9D;
  border-bottom: 2px solid #F6F3D7;
  z-index:150;
}

.tab-inactive {
  display:inline;
  float:left;
  margin-right:3px;
  border-top: 1px solid #E6DB9D;
  border-left: 1px solid #E6DB9D;
  border-right: 1px solid #E6DB9D;
  z-index:150;
}

.tab-active div {
  font-weight:bold;
  font-size:13px;
  color:#000;
  line-height:1.6;
  width:5em;
  text-align:center;
}
.tab-inactive div {
  font-size:13px;
  color:#BC944F;
  line-height:1.6;
  cursor:pointer;
  width:5em;
  text-align:center;
}
.tab-item-inactive div:hover {
  color:#BC944F;
  text-decoration:underline;
}
.tab-content{
  padding-top:22px;
  position:relative;
  top:15px;
}
.big-event-item {
  border-bottom: #F6F3D7 solid 1px;
  border-top: #E6DB9D solid 1px;
  padding: 1em 0 1em 5px;
}
.big-event-item:hover{
  /*background-color:#F9F7E4;*/
}
.big-event-item table{
  width:100%;
  table-layout:fixed;
}
.big-event-item table tbody tr {
  vertical-align:middle;
}
.big-event-item-time {
  font-size:12px;
  width:100px;
  white-space:nowrap;
  vertical-align:middle;
}
.big-event-item-link{
  margin-left:100px;
  font-size:14px;
  font-weight:bold;
  width:100%;
}
.big-event-item-link a{
  color:#915E00;
}
.big-event-item-link a:visited{
  color:#915E00;
}
.big-event-item-pic {
  width:64px;
  text-align:center;
}
.big-event-detail {
  margin:10px 0px;
  padding-left:10px;
  border-left:10px solid #F9F7E4;
}
.big-event-detail p{
  color:#666;
  font-size:12px;
}
.big-event-imgs {
  margin:10px;
}
.big-event-imgs img {
  margin: 4px 0px;
}
#character_list {

}
#big_event_list {
  clear:both;
}
.character-item{
  border-bottom: #F6F3D7 solid 1px;
  border-top: #E6DB9D solid 1px;
  width:100%;
}
.character-item:hover{
  /*background-color:#F9F7E4;*/
}
.character-img-div{
  width:65px;
  height:5.3em;
  vertical-align:top;
  padding:10px 10px 0px 0px;
  /*float: left;*/
}
.character-intro-div{
  /*margin-left: 75px;*/
  vertical-align:top;
  padding:10px 0px 0px 0px;
}
.character-title{
  font-size:14px;
}
.character-title a{
  font-weight:bold;
  color:#915E00;
}
.character-title a:visited{
  color:#915E00;
}
.character-title span{
  margin-left:5px;
  font-size:12px;
}
.character-title-img {
  float:right;
  width:25;
  height:22px;
  margin-top:-4px;
  margin-right:8px;
  background:0 -5px no-repeat;
}
.character-title a img {
  position: relative;
  top: 2px;
  left: 3px;
  float: none;
}
.character-digest-div{
  font-size:12px;
  margin-top:5px;
  color:#666;
}
.character-digest-div-short {
  position:absolute;
  font-family:simsun;
  line-height:1.2;
}
.character-digest-div-long {
  font-family:simsun;
  line-height:1.2;
}
.character-digest-div div a{
  padding-left:2px;
  color:#BC944F;
  text-decoration:none;
  white-space:nowrap;
}
#kingdom_checkbox {
  background: #F6F3D7;
  line-height: 2;
  clear:both;
  border-top:2px solid #E6DB9D;
  padding-left:5px;
}
#kingdom_checkbox label{
  font-size:12px;
}
#kingdom_checkbox input{
  vertical-align:middle;
}

.events-div {
  padding:5px 0px;
  font-size:12px;
}

a.events-div-show{
  color:#BC944F;
  text-decoration:none;
  font-size:12px;
  padding-left:10px;
  background:url('http://www.google.cn/staticcn/chibi/triangle-r.gif') no-repeat center left;
}
a.events-div-hide{
  color:#BC944F;
  text-decoration:none;
  font-size:12px;
  padding-left:10px;
  background:url('http://www.google.cn/staticcn/chibi/triangle-d.gif') no-repeat center left;
}
.events-list {
  
}
.events-item-time{
  float:left;
  width:100px;
  font-size:12px;
}
.events-item-link{
  margin-left:100px;
  font-size:12px;
}
.events-item-link a {
  color:#915E00;
}
.event_img {
  margin: 10px 0px 10px 10px;
  height: 75px;
  width: 100px;
}

#unused_bar {
  /* TODO */
  background: #F6F3D7;
  height: 0.7em;
  clear:both;
  border-top:2px solid #E6DB9D;
  padding-left:5px;
}

.bottom-button-div {
  font-size:13px;
  margin-top:20px;
  clear:both;
}
.bottom-button-div2 {
  font-size:13px;
  margin-top:2px;
  clear:both;
}
a#clear_button {
  float:right;
  color:BC944F;
}
#share_button {
  float:left;
  height:20px;
}
#share_button a{
  color:BC944F;
  padding:0px 18px 0px 0px;
  height:20px;
  background:url('http://www.google.cn/staticcn/chibi/pop.gif') no-repeat center right;
}

.vote-ifr {
  border:0px;
  width:100%;
  height:500px;
  margin:5px;
}
a#disclaimer_show {
  float:right;
  color:BC944F;
}
#disclaimer_box {
  display:block;
  position:absolute;
 
  right:0px;
  bottom:27px;
  border-left:3px solid #E6DB9D;
  border-top:3px solid #E6DB9D;
  border-right:3px solid #BC944F;
  border-bottom:3px solid #BC944F;
  z-index:300;
}
#disclaimer_box div{
  border:3px solid #F6F3D7;
  background-color:#FFFFFF;
  height:154px;
  width:252px;
  padding:8px;
}
#disclaimer_box div a {
  color:#915E00;
}
#disclaimer_close {
  color:#BC944F;
  float:right;
  cursor:pointer;
  position:absolute;
  bottom:5px;
  right:5px;
}
