.l {float: left;}
.r {float: right;}
.c {clear: both;}
.h {height:1px; overflow: hidden;}
.v {overflow: hidden;}
.w1 {width:1px;}
.w2 {width:2px;}
.w3 {width:3px;}
.w4 {width:4px;}
.w5 {width:5px;}
.h1 {height:1px;}
.h2 {height:2px;}