@CHARSET "UTF-8";
body{
  font-size:13px;
  font-family:Arial,sans-serif;
}
div, p, span, a, h3, h4, ol{
  margin:0;
  padding:0;
  border:0;
  list-style: none;
}
h3 {
  padding: 1em 0 0.5em;
}
/*tab content*/
.tab-content{
  float:left;
  width:290px;
  position:relative;
  padding:2px 2px 2px 3px;
  position:relative;
}
.big-event-item {
  border-bottom: #c5d7ef solid 1px;
  margin: 5px 5px 5px 5px;
  padding: 0.5em 0;
}
.big-event-title {
  padding-left: 18px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('http://redcliff.googlecode.com/svn/trunk/dev/media/images/plus.gif');
  cursor: pointer;
}
.expanded .big-event-title {
  background-image: url('http://redcliff.googlecode.com/svn/trunk/dev/media/images/minus.gif');
}
.big-event-time {
  font-weight: bold;
  width: 2em;
  float: left;
}
#character_list {
 margin-bottom: 10px;
 margin-top:5px;
 margin-left: 5px;
 margin-right: 5px;
 padding-right: 10px;
 overflow:auto;
}
#big_event_list {
 margin-bottom: 10px;
 margin-top:5px;
 margin-left: 5px;
 margin-right: 5px;
 padding-right: 10px;
 overflow:auto;
}
.content_title {
font-size: 14px;
text-align:center;
margin: 5px 0px 5px 5px;
color:#0000FF;
font-weight:bold;
}
.character-item{
  width:250px;
  /* height:75px; */
  overflow:visible;
  padding: 0.5em 0;
  margin: 5px 0px 5px 0px;
  vertical-align:text-top;
  border-bottom: #c5d7ef solid 1px;
}
.character-img-div{
  width:65px;
  height:70px;	
  vertical-align:top;
  float: left;
}
.character-intro-div{
  width:185px;
  overflow:visible;
  margin-left: 75px;
}
.character-title{
  font-weight:bold;
}
.infowindow-div{
  width:200px;
  height:200px;
}
#kingdom_checkbox {
  background: #c5d7ef;
  line-height: 2;
}
.event_img {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 75px;
	width: 100px;
}

